body {
font-family: "PT Sans";
font-size: 14px;
line-height: 26px;
color: #333333;
font-weight: bold;
background-color: #f2f2f2;
margin: 0;
}

@font-face {
  font-weight: normal;
  font-style: normal;

  font-family: "symbols-sedona";
  src: url("../fonts/symbols-sedona.woff") format("woff"),
       url("../fonts/symbols-sedona.woff2") format("woff2");
}

[class^="icon-"]::before,
[class*=" icon-"]::before {
  display: inline-block;
  width: 1em;
  margin-right: 0.2em;
  margin-left: 0.2em;

  font-weight: normal;
  line-height: 1em;
  font-family: "symbols-sedona";
  text-align: center;
  text-transform: none;
  text-decoration: inherit;
  font-style: normal;
  font-variant: normal;

  speak: none;
}

.icon-facebook::before { content: "\66"; } /* "f" */
.icon-twitter::before { content: "\74"; } /* "t" */
.icon-up-dir::before { content: "\25b2"; } /* "▲" */
.icon-down-dir::before { content: "\25bc"; } /* "▼" */
.icon-star::before { content: "\2605"; } /* "★" */
.icon-check-off::before { content: "\2610"; } /* "☐" */
.icon-check-on::before { content: "\2611"; } /* "☑" */
.icon-calendar::before { content: "\e800"; } /* "" */
.icon-plus::before { content: "\e801"; } /* "" */
.icon-minus::before { content: "\e802"; } /* "" */
.icon-youtube::before { content: "\f39e"; } /* "" */


h2 {
  font-family: "PT Sans";
  font-size: 21px;
  line-height: 26px;
  color: #333333;
  font-weight: bold;
}
 ul {
   margin: 0;
   padding: 0;
   list-style: none;
 }


a {
  text-decoration: none;
}

a:active{
  outline:none;
}

.container {
  width: 1200px;
  padding: 0;
  margin: 0 auto;
  background-color: #ffffff;
  box-shadow: #f2f2f2;
}

.main_header {
  width: 1200px;
  position: relative;
}

.main_nav {
  width: 1055px;
  margin: 0 72px;
  text-transform: uppercase;
}

.main_nav_list {
  padding: 15px 0;

}


.main_nav_list {
content: "";
display: table;
clear: both;
}

.main_nav_item:nth-child(1) {
  float: left;
  margin-right: 147px;
}

.main_nav_item:nth-child(2) {
  float: left;
  margin-right: : 150px;
}

.main_nav_item:nth-child(3) {
  float: right;
  margin-left: 162px;
}

.main_nav_item:nth-child(4) {
  float: right;
  margin-left: 390px;
}


.sedona_emblem {
width: 138px;
position: absolute;
top: 0;
left: 50%;
margin-left: -69px;
}

.sedona_index {
  width: 1200px;
  margin: 0 auto;
}

.sedona_logo {
  width: 1200px;
  height: 508px;
  margin-left: auto;
  margin-right: auto;
}


.intro {
  width: 1200px;
  min-height: 170px;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 29px;
}

.slogan {
  width: 437px;
  padding-top: 44px;
  margin-left: auto;
  margin-right: auto;
  text-transform: uppercase;
  text-align: center;
}


.intro .simple_text {
  width: 488px;
  padding-top: 10px;
  margin-left: auto;
  margin-right: auto;
  font-weight: normal;
  text-transform: uppercase;
}

.features_field::after {
  content: "";
  display: table;
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  clear: both;
}

.field_left {
  width: 400px;
  min-height: 256px;
  float: left;
  background-color: #81b3d2;
}

.field_right {
  width: 800px;
  height: 256px;
  float: right;
}

.field_text_bold {
  display: block;
  width: 154px;
  padding-top: 55px;
  padding-bottom: 23px;
  margin: 0 auto;
  font-size: 21px;
  line-height: 21px;
  color: #ffffff;
  text-align: center;
  text-transform: uppercase;
  font-weight: normal;
}

.field_simple_text {
  width: 301px;
padding-bottom: 21px;
margin: 0 auto;
text-align: center;
text-transform: uppercase;
color: #ffffff;
font-weight: normal;
line-height: 21px;
}


.features {
  content: "";
  display: table;
  width: 1200px;
  min-height: 330px;
  margin: 0 auto;
  clear: both;
}

.features_item {
  width: 400px;
  padding-top: 29px;
  padding-bottom: 57px;
  margin: 0 auto;
  float: left;
}

.icon {
  text-align: center;
  margin-top: 30px;
  margin-bottom: 20px;
  margin-left: 163px;
  margin-right: 163px;
}

.features_item .text_bold {
  font-size: 21px;
  line-height: 21px;
  text-transform: uppercase;
  text-align: center;
  margin: 0 auto;
}

.features_item .simple_text {
width: 283px;
padding: 25px 0;
margin: 0 auto;
text-transform: uppercase;
font-weight: normal;
text-align: center;
line-height: 21px;
}

.feature_2::after {
  content: "";
  display: table;
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  clear: both;
}

.feature_2 .field_left {
  width: 800px;
  height: 256px;
  float: left;
}

.feature_2 .field_right {
  width: 400px;
  min-height: 256px;
  float: right;
  background-color: #81b3d2;
}

.feature_2 .field_text_bold {
  display: block;
width: 150px;
padding-top: 55px;
padding-bottom: 23px;
margin: 0 auto;
font-size: 21px;
line-height: 21px;
color: #ffffff;
text-align: center;
text-transform: uppercase;
font-weight: normal;
}

.feature_2 .field_simple_text {
  width: 303px;
}

.reason_field::after {
  content: "";
  display: table;
  width: 1200px;
  margin: 0 auto;
  background-color: #eeeeee;
  clear: both;
}

.reason {
  width: 400px;
  float: left;
  background-color: #eeeeee;
}

.reason .text_bold {
  display: block;
  width: 120px;
  margin: 0 auto;
  font-size: 21px;
  line-height: 21px;
  text-align: center;
  text-transform: uppercase;
  padding-top: 50px;
  padding-bottom: 6px;
}



.reason .simple_text {
  width: 266px;
padding-top: 11px;
margin-left: auto;
margin-right: auto;
font-weight: normal;
text-transform: uppercase;
line-height: 21px;
text-align: center;
}

.reason p {
  width: 266px;
padding-top: 11px;
padding-bottom: 43px;
margin-left: auto;
margin-right: auto;
font-weight: normal;
text-transform: uppercase;
line-height: 21px;
text-align: center;
}

.item {
width: 1200px;
min-height: 293px;
  margin: 0 auto;
  position: relative;
}

.item_article {
  font-size: 30px;
  line-height: 24px;
  padding-top: 59px;
  text-align: center;
  text-transform: uppercase;
}

.item .simple_text {
  width: 436px;
  white-space: pre;
  margin: 0 auto;
  font-weight: normal;
  text-transform: uppercase;
  padding: 30px 0;
  text-align: center;

}

.btn_hotel_search {
  width: 330px;
  font-size: 21px;
  text-align: center;
  color: #ffffff;
  padding: 30px 119px;
  background-color: #766357;
  text-transform: uppercase;
  margin: 0 auto;
  position: absolute;
  bottom: 0;
  left: 50%;
  margin-left: -285px;

}

.main_footer {
  width: 1200px;
  margin: 0 auto;
  position: relative;
}

.map {
  width: 1200px;
  height: 593px;

}

.footer::after {
  content: "";
  display: table;
  clear: both;
}

.footer {
  width: 1200px;
  min-height: 120px;
  position: absolute;
  bottom: 0;
  background: rgba(255, 255, 255, .9);
}

.footer_name {
  width: 400px;
  float: left;
  text-align: center;
  margin: 0 auto;
  font-size: 21px;
  line-height: 26px;
  padding: 20px 0;
  margin-top: 27px;
}

.footer_social {
  width: 400px;
  float: left;
  text-align: center;
  margin: 0 auto;
}

.social_btn {
    display: inline-block;
    vertical-align: bottom;
    padding: 14px 10px;
    background: #81b3d2;
    color: #ffffff;
    font-size: 19px;
    line-height: 20px;
    margin-top: 34px;
    margin-right: 2px;
}

.footer_copyright {
  width: 400px;
  float: left;
  text-align: center;
  margin: 0 auto;
  font-size: 14px;
  line-height: 26px;
}

.footer_copyright::after {
  content: "";
  display: table;
  clear: both;
}

.footer_copyright .simple_text {
  float: left;
  display: block;
  width: 82px;
  padding: 30px 0;
  text-transform: uppercase;
  text-align: center;
  font-weight: normal;
  margin-left: 98px;
  margin-top: 16px;
}

.btn_htmlacademy {
    float: right;
    display: block;
    width: 113px;
    padding: 15px 0;
    margin-right: 104px;
    margin-top: 25px;
}

label {
  display: block;
  color: #ffffff;
  text-transform: uppercase;
  font-size: 14px;
  line-height: 21px;
  padding: 10px;
  font-weight: normal;
}

fieldset {
  border: none;
}

.hotel_filter {
  width: 1200px;
  min-height: 217px;
  background: url("../img/filter_background.jpg") no-repeat;
}

.hotel_filter_form::after {
  content: "";
  display: table;
  clear: both;
}

.hotel_filter_left {
  width: 480px;
  float: left;
  margin: 10px 30px;
}

.hotel_filter_right {
  width: 327px;
  float: right;
}

.hotel_filter_left::after {
  content: "";
  display: block;
  clear: both;
}
.hotel_filter_field {
  width: 200px;
  display: inline-block;
}

.field_1 .hotel_filter_text_bold {
  padding-bottom: 10px;
}

.hotel_filter_text_bold {
  color: #ffffff;
  text-transform: uppercase;
  text-transform: uppercase;
  font-size: 16px;
  line-height: 21px;
  padding: 10px;
}

.sort_field {
  width: 1200px;
  padding-top: 30px;
  margin: 0 auto;
  min-height: 56px;
  border-bottom: 1px solid #e5e5e5;

}

.sort_field::after {
  content: "";
  display: table;
  clear: both;
}

.sort_field .text_bold {
  float: left;
  text-align: center;
  width: 120px;
  margin-left: 72px;
  font-size: 21px;
  line-height: 26px;
}

.sorter_field {
  display: inline-block;
  float: left;
  text-transform: uppercase;
  font-weight: normal;
  width: 400px;
  padding: 0 10px;
  margin-left: 40px;
}

.sort_field_list::after {
  content: "";
  display: table;
  clear: both;
}

.sort_field_item {
  float: left;
  padding-right: 32px;
  font-size: 12px;
  line-height: 18px;
  display: inline-block;
}

.sort_field_list {
  list-style: none;
  display: inline-block;
}

.sort_field_simple_text {
  display: inline-block;
  font-size: 12px;
  line-height: 18px;
  margin-right: 37px;
}

.arrows {
  float: right;
  margin-right: 70px;
}

.hotels {
  width: 1200px;
  margin: 0 auto;
  min-height: 573px;
}

.hotel_preview {
  width: 1200px;
  min-height: 149px;
  border-bottom: 1px solid #e5e5e5;

}

.hotel_preview::after {
  content: "";
  display: table;
  clear: both;
}

.hotel_foto {
  float: left;
  width: 135px;
  height: 90px;
  text-align: left;
  margin-left: 72px;
  padding: 30px 0;
}

.hotel_info {
  float: left;
  width: 360px;
  display: inline-block;
}

.hotel_rating {
  float: right;
  width: 135px;
  padding: 30px 0;
}

.hotel_info .text_bold {
  display: block;
  width: 300px;
  font-size: 21px;
  line-height: 26px;
  text-align: left;
  padding-top: 25px;
  padding-bottom: 5px;
}

.hotel_info .simple_text {
   padding-left: 30px;
   padding-right: 170px;
   white-space: pre;
 }

 .btn_details {
    display: inline-block;
    width: 110px;
    padding: 1px 4px;
    margin-left: 30px;
    margin-top: 10px;
    margin-right: 5px;
    text-align: center;
    background-color: #81b3d2;
    text-transform: uppercase;
    color: #ffffff;
    font-size: 14px;
    line-height: 21px;
  }

  .search_form {
    display: none;
    width: 572px;
    min-height: 395px;
    margin: 0 auto;
  }

  .form_cover label {
    font-size: 14px;
    line-height: 26px;
    text-transform: uppercase;
  }

  .form_cover input[type="text"] {
  padding: 3px;
  background-color: #f2f2f2;
  position: relative;
  font-size: 14px;
  line-height: 26px;
  text-transform: uppercase;
}

  .form_cover input[type="text"]::after {
  content: "\e800";
  position: absolute;
  font-family: "symbols-sedona";
  font-size: 21px;
  line-height: 26px;
}



  .form_cover {
    margin: 30px auto;
  }


  input[type="checkbox"] {
    display: none;
  }

  input[type="checkbox"] + label {
    display: block;
    margin: 10px 0;
    padding-left: 45px;
    position: relative;
    cursor: pointer;
  }

  input[type="checkbox"] + label::before {
    content: "\2610";
    position: absolute;
    top: 0;
    left: 0;
    width: 20px;
    height: 20px;
    font-size: 26px;
    line-height: 20px;
    font-family: "symbols-sedona";
  }

  input[type="checkbox"]:checked + label::before {
    content: "\2611";
  }

  .btn_book {
    display: inline-block;
    width: 110px;
    padding: 1px 4px;
    margin-top: 10px;
    text-align: center;
    background-color: #766357;
    text-transform: uppercase;
    color: #ffffff;
    font-size: 14px;
    line-height: 21px;
  }
