body {
font-family: "PT Sans";
font-size: 14px;
line-height: 26px;
color: #333333;
font-weight: bold;
background-color: #f2f2f2;
}

h2 {
  font-family: "PT Sans";
  font-size: 21px;
  line-height: 26px;
  color: #333333;
  font-weight: bold;
}

.container {
  width: 1200px;
  padding: 0;
  margin: 0 auto;
  background-color: #ffffff;
  box-shadow: #f2f2f2;
}

.main_header {
  width: 1200px;
  min-height: 56px;
  background-color: #fc8989;
}

.sedona_index {
  width: 1200px;
  margin: 0 auto;
}

.intro {
  width: 1200px;
  min-height: 213px;
  margin-left: auto;
  margin-right: auto;
  background-color: #fc8989;
}

.features_field_1::after {
  content: "";
  display: table;
  width: 1200px;
  min-height: 256px;
  margin-left: auto;
  margin-right: auto;
  clear: both;
}

.field_left_1 {
  width: 400px;
  min-height: 256px;
  float: left;
  background-color: #81b3d2;
}

.field_right_1 {
  width: 800px;
  height: 256px;
  float: right;
}

.features {
  content: "";
  display: table;
  width: 1200px;
  min-height: 183px;
  clear: both;
  background-color: #fc8989;
}

.features_item {
  width: 400px;
  min-height: 183px;
  float: left;
}

.features_field_2::after {
  content: "";
  display: table;
  width: 1200px;
  min-height: 256px;
  margin-left: auto;
  margin-right: auto;
  clear: both;
}

.field_left_2 {
  width: 800px;
  height: 256px;
  float: left;
}

.field_right_2 {
  width: 400px;
  min-height: 256px;
  float: right;
  background-color: #81b3d2;
}

.reason_field::after {
  content: "";
  display: table;
  width: 1200px;
  min-height: 258px;
  padding-top: 50px;
  padding-bottom: 65px;
  margin: 0 auto;
  background-color: #eeeeee;
  clear: both;
}

.reason {
  width: 400px;
  float: left;
}

.item {
  width: 1200px
  min-height: 291px;
}

.main_footer {
  width: 1200px;
  min-height: 592px;
}
