body {
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 14px;
  line-height: 26px;
  color: #000000;
  font-weight: bold;
  background-color: #f2f2f2;
  margin: 0;
}

@font-face {
  font-weight: normal;
  font-style: normal;

  font-family: "symbols-sedona";
  src: url("../fonts/symbols-sedona.woff") format("woff"),
       url("../fonts/symbols-sedona.woff2") format("woff2");
}

[class^="icon_"]::before,
[class*=" icon_"]::before {
  display: inline-block;
  width: 1em;
  margin-right: 0.2em;
  margin-left: 0.2em;

  font-weight: normal;
  line-height: 1em;
  font-family: "symbols-sedona";
  text-align: center;
  text-transform: none;
  text-decoration: inherit;
  font-style: normal;
  font-variant: normal;

  speak: none;
}

.icon_facebook::before { content: "\66"; } /* "f" */
.icon_twitter::before { content: "\74"; } /* "t" */
.icon_up_dir::before { content: "\25b2"; } /* "▲" */
.icon_down_dir::before { content: "\25bc"; } /* "▼" */
.icon_star::before { content: "\2605"; } /* "★" */
.icon_check_off::before { content: "\2610"; } /* "☐" */
.icon_check_on::before { content: "\2611"; } /* "☑" */
.icon_calendar::before { content: "\e800"; } /* "" */
.icon_plus::before { content: "\e801"; } /* "" */
.icon_minus::before { content: "\e802"; } /* "" */
.icon_youtube::before { content: "\f39e"; } /* "" */


h2 {
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 21px;
  line-height: 26px;
  color: #333333;
  font-weight: bold;
}
 ul {
   margin: 0;
   padding: 0;
   list-style: none;
 }


a {
  text-decoration: none;
  color: #000000;
}

a:active{
  outline:none;
}

img {
  max-width: 100%;
  height: auto;
}

.container {
  width: 1200px;
  padding: 0;
  margin: 0 auto;
  background-color: #ffffff;
  box-shadow: 5px 0px 15px rgba(0, 0, 0, .2);
}

.main_header {
  width: 1200px;
  position: relative;
}

.main_nav {
  width: 1055px;
  margin: 0 72px;
  text-transform: uppercase;
}

.main_nav_list {
  padding: 15px 0;

}

.main_nav_item:hover a {
  color: #8bb9d5;
}

.main_nav_item:active a {
  color: #cacaca;
}

.main_nav_list {
  content: "";
  display: table;
  clear: both;
}

.main_nav_item:nth-child(1) {
  float: left;
  margin-right: 147px;
}

.main_nav_item:nth-child(2) {
  float: left;
  margin-right: : 150px;
}

.main_nav_item:nth-child(3) {
  float: right;
  margin-left: 162px;
}

.main_nav_item:nth-child(4) {
  float: right;
  margin-left: 390px;
}


.sedona_emblem {
  width: 138px;
  position: absolute;
  top: 0;
  left: 50%;
  margin-left: -69px;
  z-index: 1;
}

.sedona_index {
  width: 1200px;
  margin: 0 auto;
}

.sedona_logo {
  width: 1200px;
  height: 508px;
  margin-left: auto;
  margin-right: auto;
  position: relative;
}

.sedona_logo::after {
  content: "";
  width: 1200px;
  height: 57px;
  position: absolute;
  bottom: 0;
  display: block;
  background: url("../img/white_figure.png")
}


.intro {
  width: 1200px;
  min-height: 170px;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 29px;
}

.slogan {
  width: 437px;
  padding-top: 44px;
  margin-left: auto;
  margin-right: auto;
  text-transform: uppercase;
  text-align: center;
}


.intro .simple_text {
  width: 488px;
  padding-top: 10px;
  margin-left: auto;
  margin-right: auto;
  font-weight: normal;
  text-transform: uppercase;
}

.features_field::after {
  content: "";
  display: table;
  clear: both;
}

.features_field {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
}

.field_left {
  width: 400px;
  min-height: 256px;
  float: left;
  background-color: #81b3d2;
}

.field_right {
  width: 800px;
  height: 256px;
  float: right;
}

.field_text_bold {
  display: block;
  width: 154px;
  padding-top: 55px;
  padding-bottom: 23px;
  margin: 0 auto;
  font-size: 21px;
  line-height: 21px;
  color: #ffffff;
  text-align: center;
  text-transform: uppercase;
  font-weight: normal;
}

.field_simple_text {
  width: 301px;
  padding-bottom: 21px;
  margin: 0 auto;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  font-weight: normal;
  line-height: 21px;
}

.features {
  content: "";
  display: table;
  width: 1200px;
  min-height: 330px;
  margin: 0 auto;
  clear: both;
}

.features_item {
  width: 400px;
  padding-top: 30px;
  padding-bottom: 52px;
  margin: 0 auto;
  float: left;
}

.icon {
  text-align: center;
  margin-top: 30px;
  margin-bottom: 20px;
  margin-left: 163px;
  margin-right: 163px;
}

.features_item .text_bold {
  font-size: 21px;
  line-height: 21px;
  text-transform: uppercase;
  text-align: center;
  margin: 0 auto;
}

.features_item .simple_text {
  width: 285px;
  padding-top: 23px;
  margin: 0 auto;
  text-transform: uppercase;
  font-weight: normal;
  text-align: center;
  line-height: 21px;
}

.feature_2::after {
  content: "";
  display: table;
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  clear: both;
}

.feature_2 .field_left {
  width: 800px;
  height: 256px;
  float: left;
}

.feature_2 .field_right {
  width: 400px;
  min-height: 256px;
  float: right;
  background-color: #81b3d2;
}

.feature_2 .field_text_bold {
  display: block;
  width: 150px;
  padding-top: 55px;
  padding-bottom: 23px;
  margin: 0 auto;
  font-size: 21px;
  line-height: 21px;
  color: #ffffff;
  text-align: center;
  text-transform: uppercase;
  font-weight: normal;
}

.feature_2 .field_simple_text {
  width: 303px;
}

.reason_field::after {
  content: "";
  display: table;
  width: 1200px;
  margin: 0 auto;
  background-color: #eeeeee;
  clear: both;
}

.reason {
  width: 400px;
  float: left;
  background-color: #eeeeee;
}

.reason .text_bold {
  display: block;
  width: 120px;
  margin: 0 auto;
  font-size: 21px;
  line-height: 21px;
  text-align: center;
  text-transform: uppercase;
  padding-top: 50px;
  padding-bottom: 6px;
}

.reason .simple_text {
  width: 266px;
  margin-left: auto;
  margin-right: auto;
  font-weight: normal;
  text-transform: uppercase;
  line-height: 21px;
  text-align: center;
}

.reason p {
  padding-top: 10px;
  padding-bottom: 40px;
}

.number {
  padding-top: 14px;
}

.item {
  width: 1200px;
  min-height: 293px;
  margin: 0 auto;
}

.item_article {
  font-size: 30px;
  line-height: 24px;
  padding-top: 59px;
  text-align: center;
  text-transform: uppercase;
}

.item .simple_text {
  width: 436px;
  white-space: pre;
  margin: 0 auto;
  font-weight: normal;
  text-transform: uppercase;
  padding: 30px 0;
  text-align: center;
}

.btn_hotel_search {
  display: block;
  width: 330px;
  font-size: 21px;
  text-align: center;
  color: #ffffff;
  padding: 30px 119px;
  background-color: #766357;
  text-transform: uppercase;
  margin: 0 auto;
  margin-top: 12px;
}

.main_footer {
  width: 1200px;
  margin: 0 auto;
  position: relative;
}

.map {
  width: 1200px;
  height: 593px;
  position: relative;
}

.footer::after {
  content: "";
  display: table;
  clear: both;
}

.footer {
  width: 1200px;
  min-height: 120px;
  position: absolute;
  bottom: 0;
  background: rgba(255, 255, 255, .9);
}

.footer_name {
  width: 400px;
  float: left;
  text-align: center;
  margin: 0 auto;
  font-size: 21px;
  line-height: 26px;
  padding: 21px 0;
  margin-top: 27px;
}

.footer_social {
  width: 400px;
  float: left;
  text-align: center;
  margin: 0 auto;
}

.social_btn {
  display: inline-block;
  vertical-align: bottom;
  padding: 14px 10px;
  background: #81b3d2;
  color: #ffffff;
  font-size: 19px;
  line-height: 20px;
  margin-top: 36px;
  margin-right: 2px;
}

.social_btn:hover {
  background-color: #669ec0;
}

.social_btn:active {
  background-color: #5496bd;
  color: #88b6f1;
}

.footer_copyright {
  width: 400px;
  float: left;
  text-align: center;
  margin: 0 auto;
  font-size: 14px;
  line-height: 26px;
}

.footer_copyright::after {
  content: "";
  display: table;
  clear: both;
}

.footer_copyright .simple_text {
  float: left;
  display: block;
  width: 82px;
  padding: 30px 0;
  text-transform: uppercase;
  text-align: center;
  font-weight: normal;
  margin-left: 98px;
  margin-top: 18px;
}

.btn_htmlacademy {
  float: right;
  display: block;
  width: 113px;
  padding: 15px 0;
  margin-right: 104px;
  margin-top: 27px;
}

.btn_htmlacademy:hover::before img {
  background: url("../img/html_logo_blue.png") no-repeat;
}

.btn_htmlacademy:active img {
  opacity: .5;
}

.hotel_filter_field label {
  display: block;
  color: #ffffff;
  text-transform: uppercase;
  font-size: 14px;
  line-height: 21px;
  padding: 10px;
  font-weight: normal;
}

fieldset {
  border: none;
}

.hotel_filter {
  width: 1200px;
  min-height: 218px;
  background: #81b3d2 url("../img/filter_background.jpg") no-repeat;
}

.hotel_filter_form::after {
  content: "";
  display: table;
  clear: both;
}

.hotel_filter_left {
  width: 600px;
  float: left;
}

.hotel_filter_right {
  width: 330px;
  float: right;
  color: #ffffff;
  text-transform: uppercase;
  margin-right: 63px;
}

.hotel_filter_rates {
  margin: -9px;
}

.hotel_filter_rates .hotel_filter_text_bold {
  padding-top: 37px;
  padding-bottom: 5px;
}

.hotel_filter_left::after {
  content: "";
  display: block;
  clear: both;
}
.hotel_filter_field {
  width: 200px;
  display: inline-block;
}

.field_1 {
  margin-left: 42px;
}

.field_1 .hotel_filter_text_bold {
  padding-top: 27px;
  display: block;
  text-transform: uppercase;
  font-weight: normal;
  margin-left: -11px;
}

.field_2 {
  margin-left: 29px;
}

.field_2 .hotel_filter_text_bold {
  margin-left: -10px;
  display: block;
  padding-bottom: 10px;
  text-transform: uppercase;
  font-weight: normal;
}

.hotel_filter_left {
  margin-left: 20px;
}

.hotel_filter_text_bold {
  color: #ffffff;
  font-size: 16px;
  line-height: 21px;
  padding: 10px;
  font-weight: normal;
}

.price_controls {
  height: 33px;
  margin-bottom: 20px;
  border: 2px solid #ffffff;
  border-radius: 2px;
  font-size: 0;
  position: relative;
}

.price_controls::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 2px;
  height: 22px;
  background: #ffffff;
  transform: translate(-50%, -50%);
}

.price_controls label {
  display: inline-block;
  font-size: 14px;
  line-height: 38px;
  vertical-align: top;
  cursor: pointer;
  font-weight: normal;
}

.price_controls .min_price,
.price_controls .max_price {
  width: 90px;
  padding-left: 65px;
}

.price_controls input {
  width: 50px;
  margin: 0;
  color: inherit;
  font: inherit;
  background: none;
  border: none;
  outline: none;
  padding-left: 3px;
  font-weight: normal;
}

.range_controls {
  position: relative;
  margin-bottom: 32px;
}

.range_controls .scale {
  height: 2px;
  background: rgba(255, 255, 255, .3)
}

.range_controls .bar {
  width: 80%;
  height: 2px;
  background: #ffffff;
}

.range_toggle {
  position: absolute;
  top: -9px;
  width: 4px;
  height: 4px;
  background: #ababab;
  border: 8px solid #ffffff;
  border-radius: 50%;
  box-shadow: 0 2px 1px 0 rgba(0, 1, 1, .2);
  cursor: pointer;
}

.range_toggle:hover {
  background: #1c4f80;
}

.range_toggle_min {
  left: 0;
}

.range_toggle_max {
  left: 80%;
}

.btn_show {
  display: block;
  margin: 10px 86px;
  padding: 6px 35px;
  font-size: 14px;
  line-height: 20px;
  color: #ffffff;
  text-transform: uppercase;
  background: transparent;
  border: 2px solid #ffffff;
  border-radius: 2px;
  outline: none;
  cursor: pointer;
}

.btn_show:hover {
  color: #000000;
  background: #ffffff;
}

.sort_field {
  width: 1200px;
  padding-top: 29px;
  margin: 0 auto;
  min-height: 56px;
  border-bottom: 1px solid #e5e5e5;

}

.sort_field::after {
  content: "";
  display: table;
  clear: both;
}

.sort_field .text_bold {
  display: block;
  float: left;
  text-align: center;
  width: 120px;
  margin-left: 70px;
  font-size: 21px;
  line-height: 26px;
  text-transform: uppercase;
  padding: 2px 0;
}

.sorter_field {
  display: inline-block;
  float: left;
  text-transform: uppercase;
  font-weight: normal;
  width: 400px;
  padding: 0 10px;
  margin-left: 34px;
}


.sort_field_item {
  margin-right: 32px;
  font-size: 12px;
  line-height: 18px;
  display: inline-block;
  border-bottom: 1px dotted #81b3d2;
}

.sort_field_item a {
  color: #cccccc;
}

.active_sort_item {
  border: none;
}

.active_sort_item a {
  color: #81b3d2;
  cursor: none;
}

.sort_field_item:hover a {
  color: #81b3d2;
}

.sort_field_item:active a {
  color: #000000;
  border: 0;
  outline: none;
}

.sorter_field::after {
  content: "";
  display: table;
  clear: both;
}

.sort_field_list {
  float: right;
  list-style: none;
  display: inline-block;
  margin-right: 9px;
  padding-top: 3px;
}

.sort_field_simple_text {
  float: left;
  display: inline-block;
  font-size: 12px;
  line-height: 18px;
  padding: 7px 0;
}

.arrows {
  float: right;
  margin-right: 63px;
  padding: 3px 0;
  color: #cccccc;
}

.active_arrow span {
  color: #81b3d2;
}

.arrow_up:hover {
  color: #000000;
}

.arrow_up:active {
  color: #81b3d2;
}

.arrow_down:hover {
  color: #000000;
}

.arrow_down:active {
  color: #81b3d2;
}

.arrows::after {
  content: "";
  display: table;
  clear: both;
}

.arrow_up {
  float: left;
  display: block;
  font-size: 21px;
  color: #cccccc;
  margin-right: -15px;
}
.arrow_down {
  float: right;
  display: block;
  font-size: 21px;
  margin-left: 10px;
  color: #cccccc;
}

.hotels {
  width: 1200px;
  margin: 0 auto;
  min-height: 573px;
}

.hotel_preview {
  width: 1200px;
  min-height: 149px;
  border-bottom: 1px solid #e5e5e5;

}

.hotel_preview::after {
  content: "";
  display: table;
  clear: both;
}

.hotel_foto {
  float: left;
  width: 135px;
  height: 90px;
  text-align: left;
  margin-left: 72px;
  padding: 30px 0;
}

.hotel_info {
  float: left;
  width: 360px;
  margin-left: 31px;
}

.hotel_rating {
  float: right;
  width: 160px;
  padding: 30px 0;
  margin-right: 27px;
  margin-top: -2px;
}



.hotel_info .text_bold {
  display: block;
  width: 300px;
  font-size: 21px;
  line-height: 26px;
  padding-top: 26px;
  padding-bottom: 5px;
  text-transform: uppercase;
}

.hotel_info .text_bold:hover {
  color: #81b3d2;
  cursor: pointer;
}

.hotel_info .text_bold:active {
  color: #cacaca;
  cursor: pointer;
}

.hotel_info::after {
  content: "";
  display: block;
  clear: both;
}

.hotel_info .simple_text {
  display: block;
  float: left;
  font-weight: normal;
  text-transform: uppercase;
 }

.hotel_info .price {
  display: block;
  float: right;
  font-weight: normal;
  margin-right: 180px;
}

 .btn_details {
  display: inline-block;
  width: 110px;
  padding: 3px 0;
  margin-top: 10px;
  text-align: center;
  background-color: #81b3d2;
  text-transform: uppercase;
  color: #ffffff;
  font-size: 14px;
  line-height: 21px;
  font-weight: normal;
}

.btn_details:hover {
  background-color: #669ec0;
}

.btn_details:active {
  background-color: #5496bd;
  color: #94b9d2;
}

.btn_book {
  display: inline-block;
  width: 110px;
  padding: 3px 17px;
  margin-top: 10px;
  text-align: center;
  background-color: #766357;
  text-transform: uppercase;
  color: #ffffff;
  font-size: 14px;
  line-height: 21px;
  font-weight: normal;
}

.btn_book:hover {
  background-color: #604e43;
}

.btn_book:active {
  background-color: #503e33;
  color: #8f8681;
}

.rating_star {
  font-size: 18px;
  padding: 1px;
  color: #81b3d2;
}

.stars_1 {
  margin-left: 25px;
}

.stars_2 {
  margin-left: 72px;
}

.stars_3 {
  margin-left: 50px;
}

.rating {
  font-size: 14px;
  line-height: 21px;
  text-transform: uppercase;
  font-weight: normal;
  background-color: #f2f2f2;
  text-align: center;
  margin-top: 40px;
  color: #666666;
  margin-right: 42px;
  padding: 2px 0;
}

.search_form {
  width: 567px;
  min-height: 395px;
  margin: 0 auto;
  position: absolute;
  left: 25%;
  margin-left: 45px;
  background-color: #ffffff;
  z-index: 2;
 }

 .search_form form {
  width: 462px;
  margin: 50px auto;
}

.form_cover {
  padding-bottom: 24px;
  padding-top: 8px;
}

.form_cover_people {
  padding-bottom: 24px;
  padding-top: 8px;
  text-transform: uppercase;
}

.search::after {
  content: "";
  display: table;
  clear: both;
}

.adult {
  float: left;
}

.child {
  float: right;
  margin-right: 5px;
}

.label_child {
  padding-left: 10px;
}

.form_cover label {
  font-size: 14px;
  line-height: 26px;
  text-transform: uppercase;
  color: #000000;
  font-weight: bold;
  padding: 4px;
  }

.form_cover_people label {
  font-size: 14px;
  line-height: 26px;
  text-transform: uppercase;
  color: #000000;
  font-weight: bold;
}

.search input[type="data"] {
  background-color: #f2f2f2;
  padding: 10px;
  margin-left: 12px;
  border: none;
  font-size: 12px;
  text-transform: uppercase;
  font-weight: bold;
  position: relative;
  width: 346px;
  box-sizing: border-box;
}

.search input[type="data"]:hover {
  background-color: #ebebeb;
}

.search input[type="data"]:active {
  background-color: #ffffff;
  border: 1px solid #e5e5e5;
  outline: none;
}

.search input[type="text"] {
  background-color: #f2f2f2;
  padding: 10px;
  margin-left: 40px;
  width: 92px;
  border: none;
  text-align: center;
  font-weight: bold;
  font-size: 14px;
  position: relative;
}

.search input[type="submit"] {
  background-color: #81b3d2;
  color: #ffffff;
  font-size: 21px;
  line-height: 26px;
  padding: 15px 193px;
  margin-top: 30px;
  text-transform: uppercase;
  border: none;
  outline: none;
  cursor: pointer;
}

.search input[type="submit"]:hover {
  background-color: #669ec0;
  border: none;
}

.search input[type="submit"]:active {
  background-color: #5496bd;
  color: #94b9d2;
  border: none;
}

.icon_calendar {
  color: #c2c2c2;
  font-size: 21px;
  line-height: 26px;
}

.calendar_check_in {
  position: absolute;
  right: 60px;
  top: 63px;
}

.calendar_check_out {
  position: absolute;
  right: 60px;
  top: 130px;
  z-index: 2;
}

.icon_calendar:hover {
  color: #000000;
}

.icon_calendar:active {
  color: #81b3d2;
}

.icon_minus,
.icon_plus {
  color: #a9a9a9;
  font-size: 14px;
  line-height: 26px;
}

.minus_adult {
  position: absolute;
  top: 199px;
  right: 373px;
}

.plus_adult {
  position: absolute;
  top: 199px;
  right: 298px;
}

.minus_child {
  position: absolute;
  top: 199px;
  right: 140px;
}

.plus_child {
  position: absolute;
  top: 199px;
  right: 65px;
}

.icon_minus:hover {
  color: #000000;
}

.icon_minus:active {
  color: #81b3d2;
}

.icon_plus:hover {
  color: #000000;
}

.icon_plus:active {
  color: #81b3d2;
}

input[type="checkbox"] {
  display: none;
}

input[type="checkbox"] + label {
  display: block;
  padding-left: 40px;
  padding-bottom: 15px;
  position: relative;
  cursor: pointer;
}

input[type="checkbox"] + label::before {
  content: "\2610";
  position: absolute;
  left: 0;
  width: 20px;
  height: 20px;
  font-size: 26px;
  line-height: 20px;
  color: #ffffff;
  font-family: "symbols-sedona";
}

input[type="checkbox"]:checked + label::before {
  content: "\2611";
}
